body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: #ffffff;
  transition: background 0.4s ease;
}

main {
  margin-top: 100px;
}

#flipBtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
